body { 
    background-color: rgb(104, 95, 95);
}

img {
    width: 400px;
    text-align: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: rgb(108, 9, 9);
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px;
    color: rgb(220, 81, 81);
    font-family: 'Henny Penny', cursive;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px;
    color: rgb(220, 81, 81);
    font-family: 'Henny Penny', cursive;
}

div.review { 
    background-color: lightgray;
}

footer {
    float: right;
}